<%- partial('_partial/head') %>
<body>
  <% if (is_home()){ %>
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <% } %>
  <div id="container">
    <div id="wrap">
      <% if (!is_home()){ %>
        <%- partial('_partial/header-post') %>
      <% } %>
            
      <div id="content" class="outer">
        <% if (theme.sidebar && theme.sidebar !== 'bottom' && is_archive()){ %>
          <section id="main"><%- body %></section>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } else {%>
          <section id="main" style="float:none;"><%- body %></section>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <!-- <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %> -->
    <%- partial('_partial/after-footer') %>
  </div>

  <%- partial('_partial/dialog') %>
</body>
</html>