<article id="<%= post.layout %>-<%= post.slug %>" <% if (!index && is_post() && theme.post_catalog.enable){ %>style="width: 75%; float:left;"<% } %> class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost" >
  <div id="articleInner" class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/category') %>
      <%- partial('post/busuanzi-analytics',{index: index, class_name: 'article-views'}) %>
    </div>
    <div class="article-entry" itemprop="articleBody">
      <% if (theme.post_excerpt && index){ %>
        <p class="article-excerpt-content">
          <%- truncate(strip_html(post.content), {length: 250, omission: '...'}) %>
        </p>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>#more"><%= __('read_more') %></a>
        </p>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <% if (!index && theme.donate.enable){ %>
        <%- partial('donate') %>
      <% } %>
      <% if (!index && theme.copyright.enable){ %>
      <%- partial('copyright') %>
      <% } %>
      <% if (!index && post.comments && (theme.gentie_productKey || theme.duoshuo_shortname || theme.disqus_shortname || theme.uyan_uid || theme.wumii || theme.livere_shortname)){ %>
        <%- partial('comment') %>
      <% } %>
      <% if (!theme.post_excerpt){ %>
        <%- partial('post/tag') %>
      <% } %>

    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<!-- Table of Contents -->
<% if (!index && is_post() && theme.post_catalog.enable){ %>
  <aside id="toc-sidebar">
    <div id="toc" class="toc-article">
    <strong class="toc-title"><%= __('contents') %></strong>
    <% if (toc(post.content) != ""){ %>
        <%- toc(post.content, { class: "nav", list_number: true }) %>
    <% } else { %>
        <ol class="nav"><%= __('none') %></ol>
    <% } %>
    </div>
  </aside>
<% } %>
