<% if (is_home()){ %>
  <div align="center" style="margin-top: 30px;"><hr color="#1FC40E" style="margin:0px; height:2px;"></div>
<% } %>
<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <div class="container">
      <div class="row">
	      <p> <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> and <a href="https://github.com/iTimeTraveler/hexo-theme-hiker" target="_blank">Hexo-theme-hiker</a> </p>
	      <p id="copyRightEn">Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> All Rights Reserved.</p>
	      <p id="copyRightCn"><a href="" target="_blank"><%= config.author || config.title %> 保留所有权利</a>  </p>
	</div>
  </div>
</footer>