<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <div class="container">
      <div class="row">
	      <p> <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> and <a href="http://hexo.io/" target="_blank">Hexo-theme-hiker</a> </p>
	      <p id="copyRightEn">Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> All Rights Reserved.</p>
	      <p id="copyRightCn"><a class="footer_a" href="http://www.cuc.edu.cn/" target="_blank"><%= config.author || config.title %> 版权所有</a>  </p>
	</div>
  </div>
</footer>