<header id="header">

	<!-- 背景图模式 -->
	<% 	var backgroundTheme;
		if ((theme.home_background_image.mode == "image" || !theme.home_background_image.mode) && theme.home_background_image.url && theme.home_background_image.url.length > 0){ 
			backgroundTheme = "IMAGE";
		} else if (theme.home_background_image.mode == "trianglify") {
			backgroundTheme = "TRIANGLIFY";
		} else {
			backgroundTheme = "POLYLINE";
		}
	%>

    <% if (backgroundTheme == "IMAGE"){ %>
      <div id="intrologo" class="intro-logo" style="background-position:center; background-repeat:no-repeat; background-image: url(); background-size: auto 100%;">

      <!-- Support rolling -->  
      <% if (theme.home_background_image.rolling){ %>  
        <section class="awSlider">
          <div class="carousel slide carousel-fade " data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
               <% for(var i=0;i< theme.home_background_image.url.length;i++){%>
                  <% if(i == 0){ %>
                    <div class="item active">
                  <% } else { %>
                    <div class="item">
                  <% } %>
                    <img id="carousel-img<%= i %>" src="<%- partial('post/urlconvert', {tempUrl: theme.home_background_image.url[i]}) %>">
                  </div>

                  <!-- 自适应大图 -->
                  <script>
                      var img<%= i %> = new Image();
                      var imageTag<%= i %> = document.getElementById("carousel-img<%= i %>");
                      img<%= i %>.src = imageTag<%= i %>.src;
                      img<%= i %>.onload=function(){
                        if (img<%= i %>.width / img<%= i %>.height <= document.body.clientWidth / document.body.clientHeight) {
                          imageTag<%= i %>.style.width = document.body.clientWidth + "px";
                        } else {
                          imageTag<%= i %>.style.height = document.body.clientHeight + "px";
                          imageTag<%= i %>.style.marginLeft = -(document.body.clientHeight * img<%= i %>.width / img<%= i %>.height - document.body.clientWidth) / 2 + "px";
                        }
                      };
                  </script>
                <% } %>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Geri</span>
            </a>
            <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">İleri</span>
            </a>
          </div>
        </section>
        <script>
          $('section.awSlider .carousel').carousel({
              pause: '',
              interval: 5000
          });
          var startImage = $('section.awSlider .item.active > img').attr('src');
          $('section.awSlider .carousel').on('slid.bs.carousel', function () {
              var bscn = $(this).find('.item.active > img').attr('src');
              $('section.awSlider > img').attr('src', bscn);
          });
        </script>
      <% } else { %>  <!-- Don't rolling -->
        <script>
            var imgUrls = "<%- theme.home_background_image.url %>".split(",");
            var random = Math.floor((Math.random() * imgUrls.length ));
            if (imgUrls[random].startsWith('http') || imgUrls[random].indexOf('://') >= 0) {
              document.getElementById("intrologo").style.backgroundImage='url(' + imgUrls[random] + ')';
            } else {
              document.getElementById("intrologo").style.backgroundImage='url(<%= config.root %>' + imgUrls[random] + ')';
            }
        </script>
      <% } %>

    <% } else {%>
      <div id="intrologo" class="intro-logo">
    <% } %>
 


    <canvas width="100%" height="100%"></canvas>
    <script>
      var c = document.getElementsByTagName('canvas')[0],
          x = c.getContext('2d'),
          w = window.innerWidth,
          h = window.innerHeight,
          pr = window.devicePixelRatio || 1,
          f = 90,
          q,
          m = Math,
          r = 0,
          u = m.PI*2,
          v = m.cos,
          z = m.random
      c.width = w*pr
      c.height = h*pr
      x.scale(pr, pr)
      x.globalAlpha = 0.6

      <!-- 折线Polyline背景 -->
      <% if (backgroundTheme == "POLYLINE"){ %>
        function i(){
            x.clearRect(0,0,w,h)
            q=[{x:0,y:h*.7+f},{x:0,y:h*.7-f}]
            while(q[1].x<w+f) d(q[0], q[1])
        }
        function d(i,j){   
            x.beginPath()
            x.moveTo(i.x, i.y)
            x.lineTo(j.x, j.y)
            var k = j.x + (z()*2-0.25)*f,
                n = y(j.y)
            x.lineTo(k, n)
            x.closePath()
            r-=u/-50
            x.fillStyle = '#'+(v(r)*127+128<<16 | v(r+u/3)*127+128<<8 | v(r+u/3*2)*127+128).toString(16)
            x.fill()
            q[0] = q[1]
            q[1] = {x:k,y:n}
        }
        function y(p){
            var t = p + (z()*2-1.1)*f
            return (t>h||t<0) ? y(p) : t
        }
        document.getElementById("intrologo").onclick = i
        document.getElementById("intrologo").ontouchstart = i
        i()

      <!-- 多边形trianglify背景 -->
      <% } else if (backgroundTheme == "TRIANGLIFY") { %>
		 function redraw(){
		 	var pattern = Trianglify({
				width: window.innerWidth,
				height: window.innerHeight
			});
            pattern.canvas(c)
        }
        document.getElementById("intrologo").onclick = redraw
        document.getElementById("intrologo").ontouchstart = redraw
		redraw()
      <% } %>
    </script>
    

    <% if (!theme.home_logo_image.enable && backgroundTheme != "POLYLINE"){ %>
      <div id="homelogo" class="homelogo" style="background: rgba(255,255,255,1);"> 
    <% } else { %>
      <div id="homelogo" class="homelogo"> 
    <% } %>

        <% if (theme.home_logo_image.enable){ %>
          <% if (theme.home_logo_image.border){ %>
            <img id="homelogoimg" src="<%- partial('post/urlconvert', {tempUrl: theme.home_logo_image.url}) %>" style="border-style: solid; border-color: rgba(24,24,21,0.1); border-width: 8px;">
          <% } else {%>
            <img id="homelogoimg" src="<%- partial('post/urlconvert', {tempUrl: theme.home_logo_image.url}) %>" >
          <% } %>
        <% } else {%>
          <div class="homelogoback" <% if (backgroundTheme != "POLYLINE"){ %> style="border: 1px solid #404040;" <% } %>>
            <h1><a href="#content" id="logo"><%= config.title %></a></h1>
            <h3><%= config.description%></h3>
            <h5><%= config.author %></h5>
            <!-- <p><a href="https://github.com/iTimeTraveler" target="_blank">Github</a></p> -->
          </div>
        <% } %>
    
    </div>
  </div>

  <!-- 自适应主页背景大图 -->
  <% if (backgroundTheme == "IMAGE" && !theme.home_background_image.rolling){ %>
    <script>
        var img = new Image();
        var intrologodiv = document.getElementById("intrologo");
        img.src = intrologodiv.style.backgroundImage.replace('url(','').replace(')','').replace(/\"/gi, "");
        img.onload=function(){
          if (img.width / img.height <= document.body.clientWidth / document.body.clientHeight) {
            intrologodiv.style.backgroundSize = "100% auto";
          } else {
            intrologodiv.style.backgroundSize = "auto 100%";
          }
        };
    </script>
 <% } %>

 <!-- home_logo_image居中 -->
 <% if (theme.home_logo_image.enable){ %>
    <script>
        var img = new Image();
        var homelogodiv = document.getElementById("homelogo");
        img.src = document.getElementById("homelogoimg").src;
        img.onload=function(){
          if (img.width > document.body.clientWidth) {
            document.getElementById("homelogoimg").style.width = document.body.clientWidth + "px";
            homelogodiv.style.marginLeft = document.body.clientWidth * -0.5 + "px";
          } else {
            homelogodiv.style.marginLeft = img.width * -0.5 + "px";
          }
        };
    </script>
  <% } else {%>
    <script>
        var homelogodiv = document.getElementById("homelogo");
        if (document.all.homelogo.offsetWidth > document.body.clientWidth) {
          homelogodiv.style.width = document.body.clientWidth + "px";
          homelogodiv.style.marginLeft = document.body.clientWidth * -0.5 + "px";
        } else {
          homelogodiv.style.width = homelogodiv.clientWidth  + "px";
          homelogodiv.style.marginLeft = (homelogodiv.clientWidth)  * -0.5 + "px";
        }
    </script>
  <% } %>

  <div class="intro-navigate">
      <p class="navigater-list">
        <% for (var i in theme.menu){ %>
          <a id="beautifont" class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a>
        <% } %>
      </p>
  </div>

</header>