<header id="header">
  <!-- 
    <div id="banner"></div>
    <div id="header-outer" class="outer">
      <div id="header-title" class="inner">
        <h1 id="logo-wrap">
          <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
        </h1>
        <% if (theme.subtitle){ %>
          <h2 id="subtitle-wrap">
            <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
          </h2>
        <% } %>
      </div>
      <div id="header-inner" class="inner">
        <nav id="main-nav">
          <a id="main-nav-toggle" class="nav-icon"></a>
          <% for (var i in theme.menu){ %>
            <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a>
          <% } %>
        </nav>
        <nav id="sub-nav">
          <% if (theme.rss){ %>
            <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a>
          <% } %>
          <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
        </nav>
        <div id="search-form-wrap">
          <%- search_form({button: '&#xF002;'}) %>
        </div>
      </div>
    </div>
  -->


  <% if (theme.home_background_image.url){ 
    numImages = theme.home_background_image.url.length; 
    random = Math.floor((Math.random() * numImages ));
  %>
    <div id="intrologo" class="intro-logo" style="background-position:center; background-repeat:no-repeat; background-image: url(<%- config.root %><%- theme.home_background_image.url[random] %>); background-size: auto 100%;">
  <% } else {%>
    <div id="intrologo" class="intro-logo">
  <% } %>

    <canvas width="100%" height="100%"></canvas>
    <script>
      var c = document.getElementsByTagName('canvas')[0],
          x = c.getContext('2d'),
          w = window.innerWidth,
          h = window.innerHeight,
          pr = window.devicePixelRatio || 1,
          f = 90,
          q,
          m = Math,
          r = 0,
          u = m.PI*2,
          v = m.cos,
          z = m.random
      c.width = w*pr
      c.height = h*pr
      x.scale(pr, pr)
      x.globalAlpha = 0.6

      <% if (!theme.home_background_image.url){ %>
        function i(){
            x.clearRect(0,0,w,h)
            q=[{x:0,y:h*.7+f},{x:0,y:h*.7-f}]
            while(q[1].x<w+f) d(q[0], q[1])
        }
        function d(i,j){   
            x.beginPath()
            x.moveTo(i.x, i.y)
            x.lineTo(j.x, j.y)
            var k = j.x + (z()*2-0.25)*f,
                n = y(j.y)
            x.lineTo(k, n)
            x.closePath()
            r-=u/-50
            x.fillStyle = '#'+(v(r)*127+128<<16 | v(r+u/3)*127+128<<8 | v(r+u/3*2)*127+128).toString(16)
            x.fill()
            q[0] = q[1]
            q[1] = {x:k,y:n}
        }
        function y(p){
            var t = p + (z()*2-1.1)*f
            return (t>h||t<0) ? y(p) : t
        }
        document.getElementById("intrologo").onclick = i
        document.getElementById("intrologo").ontouchstart = i
        i()
      <% } %>
    </script>
    

    <% if (theme.home_background_image.url && !theme.home_logo_image.enable){ %>
      <div id="homelogo" class="homelogo" style="background: rgba(255,255,255,1);"> 
    <% } else {%>
      <div id="homelogo" class="homelogo"> 
    <% } %>

        <% if (theme.home_logo_image.enable){ %>
          <% if (theme.home_logo_image.border){ %>
            <img id="homelogoimg" src="<%- theme.home_logo_image.url %>" style="border-style: solid; border-color: rgba(24,24,21,0.1); border-width: 8px;">
          <% } else {%>
            <img id="homelogoimg" src="<%- theme.home_logo_image.url %>" >
          <% } %>
        <% } else {%>
          <div class="homelogoback" <% if (theme.home_background_image.url && !theme.home_logo_image.enable){ %> style="border: 1px solid #404040;" <% } %>>
            <h1><a href="#content" id="logo"><%= config.title %></a></h1>
            <h3><%= config.description%></h3>
            <h5><%= config.author %></h5>
            <!-- <p><a href="https://github.com/iTimeTraveler" target="_blank">Github</a></p> -->
          </div>
        <% } %>
    
    </div>
  </div>

  <!-- 自适应主页背景大图 -->
  <% if (theme.home_background_image.url && theme.home_background_image.url){ %>
    <script>
        var img = new Image();
        var intrologodiv = document.getElementById("intrologo");
        img.src = intrologodiv.style.backgroundImage.replace('url(','').replace(')','').replace(/\"/gi, "");
        img.onload=function(){
          if (img.width / img.height <= document.body.clientWidth / document.body.clientHeight) {
            intrologodiv.style.backgroundSize = "100% auto";
          } else {
            intrologodiv.style.backgroundSize = "auto 100%";
          }
        };
    </script>
 <% } %>

 <!-- home_logo_image居中 -->
 <% if (theme.home_logo_image.enable){ %>
    <script>
        var img = new Image();
        var homelogodiv = document.getElementById("homelogo");
        img.src = document.getElementById("homelogoimg").src;
        img.onload=function(){
          if (img.width > document.body.clientWidth) {
            document.getElementById("homelogoimg").style.width = document.body.clientWidth + "px";
            homelogodiv.style.marginLeft = document.body.clientWidth * -0.5 + "px";
          } else {
            homelogodiv.style.marginLeft = img.width * -0.5 + "px";
          }
        };
    </script>
  <% } else {%>
    <script>
        var homelogodiv = document.getElementById("homelogo");
        if (document.all.homelogo.offsetWidth > document.body.clientWidth) {
          homelogodiv.style.width = document.body.clientWidth + "px";
          homelogodiv.style.marginLeft = document.body.clientWidth * -0.5 + "px";
        } else {
          homelogodiv.style.width = homelogodiv.clientWidth  + "px";
          homelogodiv.style.marginLeft = (homelogodiv.clientWidth)  * -0.5 + "px";
        }
    </script>
  <% } %>

  <div class="intro-navigate">
      <p class="navigater-list">
        <% for (var i in theme.menu){ %>
          <a id="beautifont" class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a>
        <% } %>
      </p>
  </div>

</header>