<header>

    <div id="allheader" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-inner">
          
          <div class="container"> 
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <% if (theme.avatar.enable){ %>
              <a class="brand" style="
                <% if (!theme.avatar.border){ %> border-width: 0px; <% } %> margin-top: <%= theme.avatar.top %>px;"  
                <% if (is_post()){ %>href="#" data-toggle="modal" data-target="#myModal"<% } %> >
                  <img width="<%= theme.avatar.width %>px" height="<%= theme.avatar.height %>px" alt="Hike News" src="<%= config.root %><%- theme.avatar.url %>">
              </a>
            <% } else { %>
              <a class="brand" style="border-width: 0;">
                <p><%= config.title || config.author %></p>
              </a>
            <% } %>
            
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <% for (var i in theme.menu){ %>
                  <li> <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a> </li>
                <% } %>
                  <li><%- partial('search/index') %></li>
            </div>
          </div>
                
      </div>
    </div>

</header>

<% if (is_current("about", false) && theme.about_big_image){ %>
  <div style="background:#fff;width: 100%;">

      <div style="max-height:600px; overflow: hidden;">
        <img width="100%" alt="Hike News" src="<%- config.root %><%- theme.about_big_image %>">
      </div>

  </div>
<% } %>
